$primary-color: #FAF4F0;
$secondary-color: #000000;

.about {
    width: 100%;
    height: 45rem;
    position: relative;

    h1 {
        font-family: "BriocheLight";
        font-size: 3rem;
        letter-spacing: 0.4rem;
        font-weight: 400;
        padding: 1rem 0;
        text-align: center;
    }

    &__descr {
        font-family: "Montserrat";
        font-size: 1.2rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        margin: 0rem 12rem;
        color: #989d9d;
        text-align: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
    }

    &__title {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20rem;
        margin: 1rem 0;

        h2 {
            font-family: "BriocheBold";
            font-size: 1.8rem;
            font-weight: 500;
            letter-spacing: 0.2rem;
            color: $secondary-color;
        }
    }


    &__sections {
        padding: 2rem 0;
    }

    hr{
        position: absolute;
        top: 100%;
        left: 5%;
        width: 90%;
        border: 0.5px solid rgb(0, 0, 0, 0.2);
    }

}



.section {
    &__data {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 2rem;
        height: 6rem;
    }

    &__title {
        font-family: "BriocheBold";
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        color: $secondary-color;
        margin: 0;
    }

    &__subtitle {
        font-family: "Montserrat";
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        color: #989d9d;
        margin-top: 0.2rem;
    }

    &__date {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        color: #888888;
    }

    &__rounder {
        display: inline-block;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        background-color: $secondary-color;
    }

    &__line {
        display: block;
        width: 2px;
        height: 100%;
        background-color: $secondary-color;
        transform: translate(7px, -7px);
    }
}

.calendar-icon {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.5rem;
}

.link-icon {
    margin-left: 0.2rem;

    img {
        width: 0.8rem;
        height: 0.8rem;
    }
}

.scholarship__info {
    text-align: right;
}