@import "../../assets/fonts/fonts.scss";
.header{
    position: relative;
    width: 100%;
    height: 45rem;
    .header-image{
        position: absolute;
        top: 15%;
        right: 10%;
    }
    img{
        width: 35rem;
        height: 25rem;
    }
    .header-text{
        font-family: "BriocheLight";
        font-size: 9rem;
        font-weight: 400;
        &__first{
            position: absolute;
            top: 22%;
            left: 15%;
        }
        &__second{
            position: absolute;
            top: 40%;
            left: 15%;
        }
        &__third{
            position: absolute;
            top: 73%;
            left: 55%;
            font-family: "BriocheLight";
            font-size: 3rem;
            letter-spacing: 0.4rem;
            font-weight: 200;
        }
        &__fourth{
            position: absolute;
            top: 73%;
            left: 61%;
            font-family: "BriocheLight";
            font-size: 3rem;
            letter-spacing: 0.4rem;
            font-weight: 200;
        }
    }
    .header-scroll_down{
        position: absolute;
        top: 65%;
        left: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .header-scroll_down-text{
            font-family: "Montserrat";
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: 0.1rem;
            margin-left: 1rem;
            color: orangered;
        }

        img{
            width: 5rem;
            height: 5rem;
        }
    }
    .header-btn{
        position: absolute;
        top: 65%;
        left: 25%;
    }
    .header-social{
        position: absolute;
        top: 15%;
        left: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        a img {
            width: 2rem;
            height: 2rem;
            margin-right: 3rem;
            &:hover{
                cursor: pointer;
                filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(7462%) hue-rotate(65deg) brightness(103%) contrast(113%);
                transition: cubic-bezier(1, 0, 0, 1) .3s;
            }
        }
    }
    hr {
        position: absolute;
        top: 100%;
        left: 5%;
        width: 90%;
        border: 0.5px solid rgb(0, 0, 0, 0.2);
    }
    
}


