$primary-color: #FAF4F0;
$secondary-color: #000000;

.progress{
    margin-bottom: 1em;
    &__title{
        font-family: "BriocheBold";
        font-size: 0.8rem;
        font-weight: 500;
        color: $secondary-color;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 0.2em;
    }

    &__container{
        background-color: $primary-color;
        width: 100%;
        border-radius: 1rem;
        border: 1px solid $secondary-color;
    }

    &__bar{
        background-color: $secondary-color;
        padding: 1%;
        border-radius: 1rem;
    }

}